<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PoliczRozmiarStrony.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/>
    </startup>
    <applicationSettings>
        <PoliczRozmiarStrony.Properties.Settings>
            <setting name="A" serializeAs="String">
                <value>A0 &gt; 10000 | A1 &gt; 7100 | A2 &gt; 5100 | A3 &gt; 1000 | A4 &gt; 0</value>
            </setting>
        </PoliczRozmiarStrony.Properties.Settings>
    </applicationSettings>
</configuration>
